body {
    background-image: url("imgs/backgroundDay.jpg");
    background-repeat: no-repeat;
    color: black;
    font-family: 'Almarai', sans-serif;
    transition: all 0.5s;
}

.menuSuperior {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 90px;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
}

.tituloMenuSuperior {
    background-image: linear-gradient(black, black);
    background-repeat: no-repeat;
    background-size: 0% 3px;
    background-position: left bottom;
    font-size: 30px;
    font-weight: 800;
    position: inherit;
    top: 10px;
    left: 10%;
    text-decoration: none;
    transition: all 0.5s;
    cursor: pointer;
}

.tituloMenuSuperior:hover {
    text-decoration: underline;
    background-size: 100% 3px;
}

.opcaoMenu {
    color: black;
    height: 50px;
    background-image: linear-gradient(black, black);
    background-repeat: no-repeat;
    background-size: 0% 3px;
    background-position: left bottom;
    position: relative;
    top: 20%;
    left: 55%;
    margin: 0% 5%;
    font-size: 20px;
    font-weight: 800;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.5s;
}

.opcaoMenu:hover {
    top: 15%;
    text-decoration: underline;
    background-size: 100% 3px;
}

.imgBotaoAtivar{
    cursor: pointer;
    position: relative;
    top: 20%;
    left: 25%;
}

.botaoDeTeste{
    width: 20%;
    height: 10%;
    border: none;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 43%;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.979);
    transition: all 0.5s;
}

.botaoDeTeste:hover{
    top: 47%;
}